html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background: var(--main-bg-color);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --main-font: "Oswald", sans-serif;
  --main-bg-color: #1f120f;
  --second-bg-color: #fff;
  --main-text-color: #e99d5c;
}

/*#### header ###*/
#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 30px;
}
#header .main__item {
  max-width: 380px;
}
#header .main__item .title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: var(--main-text-color);
  margin: 0;
  opacity: 0;
  transition: 0.8s;
}
#header .main__item .desc {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--main-text-color);
  margin: 0;
  opacity: 0;
  transition: 0.8s;
}
#header ul {
  padding: 0;
  list-style-type: none;
}
#header .wrapp__menu .burger__icon {
  width: 50px;
  height: 50px;
  background: var(--main-bg-color);
  border: 1px solid var(--main-text-color);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
#header .wrapp__menu .burger__icon span {
  width: 35px;
  height: 4px;
  margin: 5px 0;
  background: var(--main-text-color);
  display: block;
}
#header .wrapp__menu .main__menu {
  max-width: 940px;
  margin: 0 0 0 auto;
}
#header .wrapp__menu .main__menu .close__btn {
  display: none;
}
#header .wrapp__menu .main__menu .menu__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#header .wrapp__menu .main__menu .menu__ul li .link__menu {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-text-color);
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
}
#header .wrapp__menu .main__menu .menu__ul li .link__menu:hover {
  transition: 0.8s;
  color: #d33b00;
}
@media (max-width: 991px) {
  #header .wrapp__menu .burger__icon {
    display: flex;
  }
  #header .wrapp__menu .main__menu {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    margin: 0;
    max-width: 100%;
    display: none;
  }
  #header .wrapp__menu .main__menu .menu__ul {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translate(100vw);
    position: relative;
    height: 100vh;
    max-width: 300px;
    margin: 0 0 0 auto;
    transition: 1s ease;
  }
  #header .wrapp__menu .main__menu .menu__ul li {
    padding: 25px 0;
    max-width: 200px;
  }
  #header .wrapp__menu .main__menu .menu__ul li .link__menu {
    padding: 18px 0;
  }
  #header .wrapp__menu .main__menu .menu__ul .close__btn {
    width: 50px;
    height: 50px;
    background: var(--main-text-color);
    display: block;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -50px;
    top: 0;
  }
  #header .wrapp__menu .main__menu .menu__ul .close__btn img {
    width: 65%;
    height: 65%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

/*### header first ###*/
#header__first {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 30px;
  position: relative;
}
#header__first .wrapp {
  background: var(--main-text-color);
  max-width: 630px;
  max-height: 398px;
  width: 100%;
  padding: 30px 18px;
  margin: 10px 0;
  z-index: 2;
}
#header__first .wrapp .text__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: var(--main-bg-color);
  margin: 0;
}
#header__first .wrapp .text__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: var(--main-bg-color);
  margin: 0;
}
#header__first .wrapp .btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  display: inline-block;
  padding: 10px 25px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  #header__first .wrapp .btn:hover {
    transition: 0.6s;
    box-shadow: 0px 16px 40px 6px var(--main-bg-color);
  }
}
#header__first .swiper {
  max-width: 960px;
  max-height: 550px;
  margin: 0 0 0 auto;
}
#header__first .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
#header__first .overlay__one {
  position: absolute;
  max-width: 230px;
  height: auto;
  left: 33%;
  top: 6%;
  z-index: 1;
  transform: rotate(-50deg);
  mix-blend-mode: hard-light;
  -webkit-animation: 3s overlay_translate infinite;
          animation: 3s overlay_translate infinite;
}
#header__first .overlay__one img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@-webkit-keyframes overlay_translate {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
@keyframes overlay_translate {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
#header__first .overlay__second {
  position: absolute;
  max-width: 117px;
  height: auto;
  left: 4%;
  bottom: 0;
  z-index: 1;
  transform: rotate(-110deg);
  mix-blend-mode: hard-light;
  -webkit-animation: 4s overlay_second_translate infinite;
          animation: 4s overlay_second_translate infinite;
}
#header__first .overlay__second img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@-webkit-keyframes overlay_second_translate {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes overlay_second_translate {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
#header__first .overlay__free {
  position: absolute;
  max-width: 117px;
  height: auto;
  left: 4%;
  top: 10%;
  z-index: 1;
  transform: rotate(-110deg);
  mix-blend-mode: hard-light;
  -webkit-animation: 4s overlay_needle_translate infinite;
          animation: 4s overlay_needle_translate infinite;
}
#header__first .overlay__free img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@-webkit-keyframes overlay_needle_translate {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes overlay_needle_translate {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#product {
  box-sizing: border-box;
  padding: 10px 25px;
}
#product .title__prod {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--main-text-color);
  margin: 25px 15px;
}
#product .lazy__btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-bg-color);
  background: var(--main-text-color);
  width: 150px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}
#product .tab-head {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
#product .tab-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-text-color);
  padding: 8px 18px;
  border: 1px solid var(--main-text-color);
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 10px;
  transition: 0.25s;
  cursor: pointer;
}
#product .tab-link:hover, #product .tab-link.active {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  box-shadow: 0px 0px 15px 0px var(--main-text-color);
}
#product .tab-window .wrapp__prod {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 1300px;
}
#product .tab-window .wrapp__prod .prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background: var(--main-text-color);
  box-sizing: border-box;
  min-height: 300px;
  margin: 10px;
  transition: 0.8s;
}
#product .tab-window .wrapp__prod .prod .prod__img {
  max-width: 295px;
  max-height: 270px;
  overflow: hidden;
  padding: 3px;
}
#product .tab-window .wrapp__prod .prod .prod__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#product .tab-window .wrapp__prod .prod .prod__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-bg-color);
}
#product .tab-window .wrapp__prod .prod .prod__size {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-bg-color);
}
#product .tab-window .wrapp__prod .prod .btn__prod {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  display: inline-block;
  padding: 5px 20px;
  margin: 5px 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  #product .tab-window .wrapp__prod .prod .btn__prod:hover {
    transition: 0.6s;
    box-shadow: 0 16px 40px 0 var(--main-bg-color);
  }
}

/*### Our ###*/
#our {
  box-sizing: border-box;
  padding: 10px 30px;
}
#our .page__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--main-text-color);
}
#our .wrapp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#our .wrapp .our__img {
  max-width: 630px;
  max-height: 340px;
  overflow: hidden;
}
#our .wrapp .our__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#our .wrapp .text__content {
  max-width: 1124px;
  padding: 10px;
}
#our .wrapp .text__content p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  font-size: 22px;
  color: var(--main-text-color);
}

/*### gallery ###*/
#gallery__section {
  padding: 10px 15px;
}
#gallery__section .gallery__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--main-text-color);
  margin: 25px 10px;
}
#gallery__section #widget__gallery {
  width: 100%;
  /* hover state */
  /* keyframes */
}
#gallery__section #widget__gallery #gallery {
  vertical-align: text-top;
  display: flex;
  flex-wrap: wrap;
  max-width: 1560px;
}
#gallery__section #widget__gallery #gallery .wrapper__thumbnail {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 360px;
  max-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px var(--main-text-color);
}
#gallery__section #widget__gallery #gallery .wrapper__thumbnail .thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#gallery__section #widget__gallery #overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  display: none;
  opacity: 0;
  transition: 0.2s;
}
#gallery__section #widget__gallery #overlay.open {
  display: block;
  opacity: 1;
  transition: 0.2s;
}
#gallery__section #widget__gallery #overlay-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
#gallery__section #widget__gallery #overlay-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 32px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #fff;
}
#gallery__section #widget__gallery #overlay-image {
  position: relative;
  display: block;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
#gallery__section #widget__gallery .overlay-image {
  -webkit-animation: fade-in 0.5s linear;
          animation: fade-in 0.5s linear;
}
#gallery__section #widget__gallery #gallery .thumbnail:hover {
  transform: scale(1.025);
  box-shadow: 2px 2px 25px 2px #000;
  transition: 0.8s ease;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*### footer ###*/
#footer {
  background: var(--main-text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 25px;
}
#footer .social__wrapp {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}
#footer .social__wrapp .link__social {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 100%;
}
#footer .social__wrapp .link__social img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) {
  #footer .social__wrapp .link__social:hover {
    transition: 0.8s;
    border: 2px solid var(--main-bg-color);
    box-shadow: 0px 0px 20px 3px var(--main-bg-color);
    mix-blend-mode: overlay;
    transform: rotate(360deg);
  }
}
#footer .footer__menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer .footer__menu ul li a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-bg-color);
  text-decoration: none;
  margin: 0 10px;
}
#footer .footer__menu ul li a:hover {
  transition: 0.8s;
  color: #d33b00;
}
#footer .contact__wrapp .navigation {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#footer .contact__wrapp .link__tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: var(--main-bg-color);
  text-decoration: none;
}
#footer .arrow__up {
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-bg-color);
  padding: 5px;
}
#footer .arrow__up img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#footer .arrow__up:hover {
  transition: 0.8s;
  border: 2px solid #d33b00;
}
#footer .arrow__up:hover img:hover {
  transition: 0.8s;
  mix-blend-mode: overlay;
}

#popup__first {
  position: fixed;
  top: 6px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  transition: 0.8s;
  display: none;
}
#popup__first .form__popup {
  max-width: 300px;
  min-height: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--main-text-color);
  position: relative;
  border: 2px solid var(--main-bg-color);
}
#popup__first .form__popup .item {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px 35px;
}
#popup__first .form__popup .item .title__form {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-bg-color);
  max-width: 260px;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}
#popup__first .form__popup .item .close__form {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;
}
#popup__first .form__popup .item .close__form img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#popup__first .form__popup input {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  outline: none;
  margin: 10px auto;
  padding: 10px;
  max-width: 195px;
  width: 100%;
  background: var(--main-text-color);
}
#popup__first .form__popup input::-moz-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup input:-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup input::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup textarea {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  outline: none;
  margin: 10px auto;
  padding: 10px;
  max-width: 195px;
  width: 100%;
  background: var(--main-text-color);
  resize: none;
  height: 100px;
}
#popup__first .form__popup textarea::-moz-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup textarea:-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup textarea::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-bg-color);
}
#popup__first .form__popup .submit__btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  display: inline-block;
  padding: 10px 0;
  width: 217px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  border: 0;
}
@media (any-hover: hover) {
  #popup__first .form__popup .submit__btn:hover {
    transition: 0.6s;
    box-shadow: 0px 16px 40px 6px var(--main-bg-color);
  }
}
#popup__first .valid__form {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  height: 100px;
  margin: 0 auto;
  background: var(--main-text-color);
  position: relative;
  transition: 0.8s;
}
#popup__first .valid__form p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-bg-color);
}
#popup__first .valid__form .close__valid {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;
}
#popup__first .valid__form .close__valid img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  #footer .footer__menu {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .main__item {
    margin: 40px 0 0 0;
  }
  #our .wrapp .text__content p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */
